* {
  box-sizing: border-box;
}
body {
  background-color: #093474;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 50px 10px;
  padding: 0;
}
.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button1 {
  color: #009b6f;
  text-decoration: underline;
}
.button2 {
  width: 190px;
  height: 44px;
  color: #fff;
  background-color: #009b6f;
  border-radius: 24px;
  text-align: center;
  line-height: 44px;
}
.nav-button {
  color: rgba(255, 255, 255, 0.6);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(290px, 500px));
  grid-template-rows: repeat(2, minmax(488px, auto));
  grid-column-gap: 25px;
  align-items: center;
}
.card {
  background-color: #fff;
  border-radius: 5px;
}
.card-text {
  padding: 10px 20px;
  letter-spacing: 1px;
}
.card-text a {
  margin-top: 20px;
  color: #009b6f;
  line-height: 19px;
}
